.midnight {
    image-rendering: auto;
    height: auto;
    width: 100%;
    padding-top: 4.8%;
}

.target-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    pointer-events: none;
    color: green;
    font-size: 40px;
  
}

.box{
    display: flex;
    position: absolute;
    min-height: 240px;
    width: 150px;
    border-radius: 10px;
      background: lightblue;
       flex-direction: column;
       gap: 5px;
}

.targetImg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.imgContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 50px;
}