.submit-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 35%;
    top: 20%;
    left: 31%;
    gap: 5%;
    background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: white;
    border-radius: 15px;
}

.submit-button{
    width: 30%;
    height: 10%;
    text-align: center;
}

.submit-input{
    width: 50%;
    height: 10%;
}