.targetList {
    display: flex;
    flex-direction: column;
    border: 1px green solid;
    position: absolute;
    border-radius: 10px;
    min-height: 250px;
    width: 140px;
     background-color: #5e374a;
     color: white;
     font-size: 16px;
}

.listBox {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #5e374a;
    color: white;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
}

.listBoxImg{
    border-radius: 20px;
    height: 40px;
    width: 40px
}