.target-status{
    position: fixed;
    height: 3%;
    width: 8%;
    left: 47%;
    top: 20%;
    border-radius: 5px;
    text-align: center;
    z-index: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.target-found{
    color: white;
    animation: blinker 2s linear infinite;
    background: green;
}

.target-missed {
    color: white;
    animation: blinker 2s linear infinite;
    background: red;
}